.background{
    margin: 0%;}




.top-container{
    width: 100%;
    height:120px;
    background-color: #6A2CBB;
    margin:0px 0px 0px 0px;
}

  

.second-container{
    width: 100%;
    height: 600px;
    
    background-image: url(city2.jpg);
   
} 
.third-container{
    width: 100%;
    height: 800px;
    display: inline;
    
}
.fouth-container{
    width: 100%;
    height: 300px;
    background-color: rgb(184, 255, 177);
}


.box-1{
    width: 600px;
    height: 400px;
  
     
     margin: 77px 30px 100px 70px;
     box-shadow: 0px 0px 3px 3px rgb(163, 153, 153) ;
     border: none;
     border-radius: 25px;
     
}
.box-2{
    
    width: 600px;
    height: 400px;
  
     
     margin: 100px 30px 25px 70px;
     box-shadow: 0px 0px 3px 3px rgb(163, 153, 153) ;
     border: none;
     border-radius: 25px;
     position: absolute;
     right: 50px;
     bottom: -178px;
     
}
.box-3{
    
    width: 600px;
    height: 400px;
  
     
     margin: 100px 30px 25px 70px;
     box-shadow: 0px 0px 3px 3px rgb(163, 153, 153) ;
     border: none;
     border-radius: 25px;
     position: absolute;
     right: 732px;
     bottom: -178px;}
     .image-1{
        width: 600px;
        height: 250px;
        background-color: black;
        border: none;
        border-radius: 25px 25px 0px 0px;
        background-image: url(front.png);
    }



    .image-2{
        width: 600px;
        height: 250px;
        background-color: black;
        border: none;
        border-radius: 25px 25px 0px 0px;
        background-image: url(side.png);
    }
    .image-3{
        width: 600px;
        height: 250px;
        background-color: black;
        border: none;
        border-radius: 25px 25px 0px 0px;
        background-image: url(front-2.png);
    }
    
.second-1{
    margin: 0px;
   text-shadow:  0px 10px 10px black;

}
   
   

.div-1{
    width: 540px;
    height: 250px;
    text-align: center;
    padding: 200px 50px 200px 720px;
    font-size: 75px;
    font-family: verdana,sans-serif;
    color: rgb(255, 252, 95);
    font-weight: bolder;

}
.div-2{
    width: 200px;
    height: 60px;
  
    text-shadow: black 0px 5px 5px ;
    font-size: 35px;
    color: #DBDB19;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    bottom: -22px;
    left:270px;

 
}
.div-3{
    padding: 35px 50px 70px 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
   
}
.div-4{
    width: 200px;
    height: 60px;
  
    text-shadow: black 0px 5px 5px ;
    font-size: 35px;
    color: #DBDB19;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    bottom: 127px;
    left:240px;
}
.div-5{
    padding: 35px 50px 70px 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}
.div-6{
    width: 200px;
    height: 60px;
  
    text-shadow: black 0px 5px 5px ;
    font-size: 35px;
    color: #DBDB19;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    bottom: 127px;
    left:240px;
}
.div-7{
    padding: 35px 50px 70px 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}
.logo {
    width: 400px;
    height: 200px;
    position:absolute;
    left: 750px;
    top: -12px;
    margin: 0%;
}